    GLOBAL_SETTINGS
    LAB_MASTER_SEED audio_spectrogram_dwt_master_seed
    REGISTRY chr1stin4

CONTAINER student
     USER ubuntu
     X11 YES
     DOCKER_ARGS -e XDG_RUNTIME_DIR=/tmp/runtime-student -e PULSE_SERVER=unix:/tmp/runtime-student/pulse/native -v /run/user/1000:/tmp/runtime-student:rw
